# Title: Calculate_school_district_density

Author(s): <br>
Project Manager: Jaren Haber, PhD Candidate <br>
Contact: jhaber@berkeley.edu

Institution: University of California, Berkeley <br>
Program: Undergraduate Research Apprentice Program (URAP) <br>

Date created: 11|21|2018
Last modified: 11|21|2018

## Initialize

### Import packages

In [61]:
import pandas as pd # For working with DataFrames
import gc # For speeding up loading pickle files ('gc' = 'garbage collector')
import ast # For working with strings
import numpy as np # For numerical things
import re # For cleaning webtext
import _pickle as cPickle # Optimized version of pickle

### Import files

In [62]:
# Input files:
pubframe = pd.read_pickle("../../nowdata/backups/pubschools_full_2015_v2a_geoleaid.pkl")
pubframe.head()

,LAT1516,LON1516,AM,AS,BL,HI,HP,TR,TOTFRL,CHARTER_TEXT,...,PCT_SE_T139_002,PCT_SE_T139_034,PCT_SE_T139_067,PCT_SE_T139_085,PCT_SE_T139_090,SE_T145_001,PCT_SE_T145_002,PCT_SE_T145_003,PCT_SE_T145_004,PCT_SE_T145_005
0,32.521681,-86.530132,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,15.22,32.31,0.00,7.21,45.26,54387.0,8.92,91.08,31.71,72.73
1,32.374847,-86.082332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,...,9.40,47.90,6.84,0.00,35.86,213902.0,12.50,87.50,37.64,63.07
2,33.583385,-86.710058,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,7.27,25.08,11.45,0.33,55.88,209221.0,14.90,85.10,41.87,54.08
3,31.938444,-87.750529,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,0.00,100.00,0.00,0.00,0.00,5377.0,6.73,93.27,46.22,63.55
4,33.673661,-86.628755,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,8.34,28.37,7.88,0.12,55.30,227223.0,9.97,90.03,34.06,69.21

In [63]:
# Load ACS file (school district data)
acs = pd.read_csv("../../data_management/data/ACS_2016_sd-merged_FULL.csv", header = [0, 1])

## 'Find how many schools within each district'

In [64]:
# Generate a new_frame GroupUp by LEAID, with disctinct NCESSCH, and Display the counts
# That is, within each LEAID(school district), there are "counts" many schools.
new_frame = pubframe.groupby(['GEO_LEAID'])['NCESSCH'].count().reset_index(name='All_school_counts')
new_frame.head()

   GEO_LEAID  All_school_counts
0   100001.0                  2
1   100003.0                  1
2   100005.0                  6
3   100006.0                 61
4   100007.0                 18

In [65]:
# select FIPS(LEAID in pubframe) and Area of each district from ACS
area_frame = acs[[('FIPS', 'Geo_FIPS'),("Area (Land)", "Geo_AREALAND")]] 
area_frame.head()

       FIPS   Area (Land)
   Geo_FIPS  Geo_AREALAND
0  100001.0  2.330674e+08
1  100003.0  8.476777e+06
2  100005.0  6.878066e+07
3  100006.0  1.267794e+09
4  100007.0  1.213654e+08

In [66]:
# Join new_frame and area_frame with a share key where FIPS = LEAID
merge_frame = pd.merge(new_frame, area_frame, how='outer', left_on=['GEO_LEAID'], right_on=[('FIPS', 'Geo_FIPS')])
merge_frame.head()

/opt/conda/lib/python3.6/site-packages/pandas/core/reshape/merge.py:544: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

   GEO_LEAID  All_school_counts  (FIPS, Geo_FIPS)  (Area (Land), Geo_AREALAND)
0   100001.0                2.0          100001.0                 2.330674e+08
1   100003.0                1.0          100003.0                 8.476777e+06
2   100005.0                6.0          100005.0                 6.878066e+07
3   100006.0               61.0          100006.0                 1.267794e+09
4   100007.0               18.0          100007.0                 1.213654e+08

## Add column 'density', by dividing counts by area.

In [68]:
merge_frame['Density'] = merge_frame['All_school_counts']/merge_frame[("Area (Land)", "Geo_AREALAND")]
merge_frame.head()

,GEO_LEAID,All_school_counts,"(FIPS, Geo_FIPS)","(Area (Land), Geo_AREALAND)",Density
0,100001.0,2.0,100001.0,2.330674e+08,8.581209e-09
1,100003.0,1.0,100003.0,8.476777e+06,1.179694e-07
2,100005.0,6.0,100005.0,6.878066e+07,8.723382e-08
3,100006.0,61.0,100006.0,1.267794e+09,4.811506e-08
4,100007.0,18.0,100007.0,1.213654e+08,1.483125e-07

## Drop the duplicate column "FIPS, Geo_FIPS", and we have the final output we want

In [69]:
data = merge_frame.drop(columns=('FIPS', 'Geo_FIPS'))
data.head()

   GEO_LEAID  All_school_counts  (Area (Land), Geo_AREALAND)       Density
0   100001.0                2.0                 2.330674e+08  8.581209e-09
1   100003.0                1.0                 8.476777e+06  1.179694e-07
2   100005.0                6.0                 6.878066e+07  8.723382e-08
3   100006.0               61.0                 1.267794e+09  4.811506e-08
4   100007.0               18.0                 1.213654e+08  1.483125e-07

## Merge the Column Density to the orgininal frame

In [70]:
final_frame = pd.merge(pubframe, data, how='outer', on=['GEO_LEAID'])

In [71]:
final_frame.head()

,LAT1516,LON1516,AM,AS,BL,HI,HP,TR,TOTFRL,CHARTER_TEXT,...,PCT_SE_T139_085,PCT_SE_T139_090,SE_T145_001,PCT_SE_T145_002,PCT_SE_T145_003,PCT_SE_T145_004,PCT_SE_T145_005,All_school_counts,"(Area (Land), Geo_AREALAND)",Density
0,32.521681,-86.530132,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,7.21,45.26,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08
1,32.439650,-86.472581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,...,7.21,45.26,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08
2,32.457364,-86.466194,1.0,11.0,93.0,8.0,1.0,25.0,209.0,No,...,7.21,45.26,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08
3,32.462388,-86.468380,2.0,8.0,177.0,15.0,0.0,28.0,374.0,No,...,7.21,45.26,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08
4,32.456134,-86.454170,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,7.21,45.26,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08

## Count public school and charter school from the Pubframe

In [72]:
## filter out the public school
pub_filter = pubframe[pubframe.TRUE_CHARTER == 0]

In [75]:
## redo the group by procedure as before
pub_count = pub_filter.groupby(['GEO_LEAID'])['NCESSCH'].count().reset_index(name='PUBLIC_DENSITY')
pub_count.head()

   GEO_LEAID  PUBLIC_DENSITY
0   100001.0               2
1   100003.0               1
2   100005.0               6
3   100006.0              61
4   100007.0              18

12184

In [76]:
## Similar procedures for counting charter schools
charter_filter = pubframe.query('TRUE_CHARTER == 1')
charter_count = charter_filter.groupby(['GEO_LEAID'])['NCESSCH'].count().reset_index(name='CHARTER_DENSITY')
charter_count.head()

   GEO_LEAID  CHARTER_DENSITY
0   100360.0                1
1   100390.0                1
2   100540.0                1
3   100630.0                1
4   100720.0                1

In [77]:
## now merge the PUB_DENSITY & CHARTER_DENSITY back to the orginal frame
Merged_frame = pd.merge(final_frame, pub_count, how='outer', on=['GEO_LEAID'])

In [78]:
Merged_frame = pd.merge(Merged_frame, charter_count, how='outer', on=['GEO_LEAID'])

In [79]:
Merged_frame.head(100)

,LAT1516,LON1516,AM,AS,BL,HI,HP,TR,TOTFRL,CHARTER_TEXT,...,SE_T145_001,PCT_SE_T145_002,PCT_SE_T145_003,PCT_SE_T145_004,PCT_SE_T145_005,All_school_counts,"(Area (Land), Geo_AREALAND)",Density,PUBLIC_DENSITY,CHARTER_DENSITY
0,32.521681,-86.530132,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
1,32.439650,-86.472581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
2,32.457364,-86.466194,1.0,11.0,93.0,8.0,1.0,25.0,209.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
3,32.462388,-86.468380,2.0,8.0,177.0,15.0,0.0,28.0,374.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
4,32.456134,-86.454170,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
5,32.433718,-86.659643,0.0,0.0,319.0,1.0,0.0,5.0,313.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
6,32.496773,-86.473458,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
7,32.700696,-86.474550,1.0,2.0,50.0,5.0,0.0,4.0,227.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
8,32.589386,-86.463004,1.0,4.0,109.0,27.0,2.0,24.0,508.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
9,32.454222,-86.451616,2.0,11.0,165.0,18.0,1.0,11.0,338.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
10,32.454675,-86.455471,1.0,4.0,148.0,23.0,1.0,25.0,335.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
11,32.452238,-86.422190,2.0,54.0,295.0,52.0,0.0,41.0,480.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
12,32.484949,-86.470690,6.0,15.0,291.0,32.0,0.0,11.0,447.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
13,32.500533,-86.471585,7.0,46.0,538.0,52.0,0.0,21.0,735.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
14,32.618600,-86.480011,1.0,4.0,81.0,10.0,2.0,3.0,249.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
15,32.448533,-86.423024,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
16,32.662238,-86.701770,1.0,2.0,154.0,2.0,0.0,17.0,443.0,No,...,54387.0,8.92,91.08,31.71,72.73,17.0,1.539582e+09,1.104196e-08,17.0,NaN
17,32.374847,-86.082332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
18,32.374812,-86.082360,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
19,32.361390,-86.201851,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
20,32.361390,-86.201851,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
21,32.374660,-86.304181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
22,32.384930,-86.290431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
23,32.314161,-86.134675,1.0,71.0,574.0,29.0,0.0,12.0,248.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
24,32.316981,-86.176445,1.0,71.0,1016.0,47.0,1.0,20.0,362.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
25,32.361030,-86.332001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
26,32.389539,-86.267210,0.0,13.0,297.0,153.0,0.0,11.0,339.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
27,32.305933,-86.151757,0.0,89.0,270.0,20.0,0.0,10.0,128.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
28,32.347890,-86.355011,0.0,0.0,79.0,2.0,0.0,0.0,59.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
29,32.361030,-86.332001,0.0,0.0,22.0,1.0,0.0,0.0,13.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,32.312818,-86.444810,0.0,1.0,128.0,135.0,0.0,10.0,206.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
71,32.380141,-86.245576,0.0,2.0,388.0,43.0,0.0,14.0,344.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
72,32.348997,-86.334253,0.0,0.0,450.0,4.0,0.0,0.0,263.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
73,32.336860,-86.271669,0.0,22.0,182.0,9.0,0.0,13.0,56.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
74,32.347749,-86.308300,0.0,0.0,570.0,4.0,0.0,3.0,472.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
75,32.371519,-86.281132,0.0,0.0,362.0,46.0,0.0,0.0,355.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
76,32.369234,-86.299497,0.0,35.0,337.0,19.0,0.0,5.0,69.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
77,32.382636,-86.271453,2.0,6.0,522.0,77.0,0.0,3.0,543.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
78,32.340976,-86.297403,0.0,0.0,328.0,11.0,0.0,4.0,281.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
79,32.181828,-82.581625,3.0,4.0,144.0,39.0,2.0,13.0,0.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
80,32.193625,-82.579728,1.0,5.0,162.0,77.0,1.0,16.0,455.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
81,32.181828,-82.581625,0.0,1.0,116.0,30.0,0.0,2.0,291.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
82,32.193625,-82.579728,0.0,1.0,70.0,19.0,0.0,3.0,190.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
83,38.046276,-83.943278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Applicable,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
84,38.056776,-83.942159,0.0,3.0,12.0,38.0,0.0,12.0,421.0,Not Applicable,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
85,38.059940,-83.944761,0.0,0.0,1.0,3.0,0.0,0.0,38.0,Not Applicable,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
86,38.059940,-83.944761,1.0,1.0,3.0,9.0,0.0,0.0,67.0,Not Applicable,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
87,38.056999,-83.942238,0.0,0.0,1.0,0.0,0.0,0.0,3.0,Not Applicable,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
88,37.995000,-83.921861,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,Not Applicable,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
89,38.014504,-83.773352,0.0,0.0,1.0,0.0,0.0,1.0,3.0,Not Applicable,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
90,38.051110,-83.918160,0.0,4.0,22.0,36.0,0.0,6.0,402.0,Not Applicable,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
91,38.062402,-83.913760,2.0,1.0,21.0,47.0,0.0,24.0,373.0,Not Applicable,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
92,38.044082,-83.940305,1.0,5.0,36.0,49.0,0.0,17.0,785.0,Not Applicable,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
93,38.069745,-83.952797,2.0,3.0,10.0,39.0,0.0,12.0,439.0,Not Applicable,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
94,37.999320,-83.896820,1.0,3.0,2.0,19.0,0.0,4.0,446.0,Not Applicable,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
95,33.443705,-89.574201,0.0,0.0,91.0,1.0,0.0,2.0,106.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
96,33.431701,-89.570317,2.0,0.0,136.0,4.0,0.0,2.0,167.0,No,...,213902.0,12.50,87.50,37.64,63.07,80.0,2.022714e+09,3.955082e-08,80.0,NaN
97,33.583385,-86.710058,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,209221.0,14.90,85.10,41.87,54.08,75.0,3.783109e+08,1.982496e-07,74.0,1.0
98,33.520933,-86.812936,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,No,...,209221.0,14.90,85.10,41.87,54.08,75.0,3.783109e+08,1.982496e-07,74.0,1.0
99,33.529180,-86.807071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,...,209221.0,14.90,85.10,41.87,54.08,75.0,3.783109e+08,1.982496e-07,74.0,1.0

## Save output/ Display results

In [81]:
# Save data to disk
Merged_frame.to_csv("../../nowdata/backups/pubschools_full_2015_v2a_density.pkl")

## Challenge!

Make your own copy of this notebook in the training/111418_meeting3/ folder. Include your last name in the beginning of the file name, for instance 'haber_template_notebook'. 

In your copy, print your name to screen using the combine_strings() function defined above. 

Then push the notebook to git! By default this will use git-LFS. Get used to it!

In [5]:
combine_strings("Yitong ", "Chen")

'Yitong Chen'